    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#ff0000', // your brand color
            secondary: 'green',
          },
        },
      },
    }



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



