{% extends 'base.html' %}

{% block content %}


<div class="bg-white relative">
  <!-- Image gallery container -->
  <div class="mx-auto max-w-2xl grid grid-cols-1 gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8 relative">

        <a href="{% url 'home' %}#products" class="absolute top-0 left-0 mt-4 ml-4 flex items-center text-red-800 hover:text-red-600  font-medium transition">
           ← Вернуться на главную
        </a>


    <!-- Image grid -->
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      {% for img in product.images.all %}
        <img src="{{ img.image.url }}" alt="{{ product.name }}" class="rounded-lg bg-gray-100" />
      {% empty %}
        <p>No Images specified</p>
      {% endfor %}
    </div>

    <!-- Product details -->
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ product.name }}</h2>
      <p class="mt-4 text-gray-500">{{ product.description }}</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <!-- Category -->
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Категория</dt>
          <dd class="mt-2 text-sm text-gray-500">{{ product.category }}</dd>
        </div>
        <!-- Material -->
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Материал</dt>
          <dd class="mt-2 text-sm text-gray-500">
            {% for mat in product.material.all %}
              {{ mat.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              Материал не указан
            {% endfor %}
          </dd>
        </div>
        <!-- Dimensions -->
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Размеры</dt>
          <dd class="mt-2 text-sm text-gray-500">
            {% for s in product.size.all %}
              {{ s.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              Размер не указан
            {% endfor %}
          </dd>
        </div>
        <!-- State -->
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Состояние</dt>
          <dd class="mt-2 text-sm text-gray-500">{{ product.get_state_display }}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>



{% endblock %}